<mtapp:setting
 id="MCFontfile"
 label="<__trans phrase='_MCXFont'>">
    <input type="text" name="MCFontfile" id="MCFontfile" value="<mt:var name="MCFontfile" escape="html">" size="30" />
</mtapp:setting>
<mtapp:setting
 id="MCCGIURL"
 label="<__trans phrase='_MCXCGI'>">
    <input type="text" name="MCCGIURL" id="MCCGIURL" value="<mt:var name="MCCGIURL" escape="html">" size="30" />
</mtapp:setting>
<mtapp:setting
 id="SESTIMEOUT"
 label="<__trans phrase='_MCXSesTout'>">
    <input type="text" name="SESTIMEOUT" id="SESTIMEOUT" value="<mt:var name="SESTIMEOUT" escape="html">" size="20" />
</mtapp:setting>
<mtapp:setting
 id="UNAMEVAL"
 label="<__trans phrase='_MCXOwner'>">
    <input type="text" name="UNAMEVAL" id="UNAMEVAL" value="<mt:var name="UNAMEVAL" escape="html">" size="20" />
</mtapp:setting>
<mtapp:setting
 id="OWNERPASS"
 label="<__trans phrase='_MCXOwnerPass'>">
    <input type="text" name="OWNERPASS" id="OWNERPASS" value="<mt:var name="OWNERPASS" escape="html">" size="20" />
</mtapp:setting>
<mtapp:setting
 id="XSIZE"
 label="<__trans phrase='_MCXFrameWidth'>">
    <input type="text" name="XSIZE" id="XSIZE" value="<mt:var name="XSIZE" escape="html">" size="20" />
</mtapp:setting>
<mtapp:setting
 id="YSIZE"
 label="<__trans phrase='_MCXFrameHight'>">
    <input type="text" name="YSIZE" id="YSIZE" value="<mt:var name="YSIZE" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="FILLCOLOR"
 label="<__trans phrase='_MCXFrameBGColor'>">
    <input type="text" name="FILLCOLOR" id="FILLCOLOR" value="<mt:var name="FILLCOLOR" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="BORDERCOLOR"
 label="<__trans phrase='_MCXFrameBDColor'>">
    <input type="text" name="BORDERCOLOR" id="BORDERCOLOR" value="<mt:var name="BORDERCOLOR" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="SIZE"
 label="<__trans phrase='_MCXFontSize'>">
    <input type="text" name="SIZE" id="SIZE" value="<mt:var name="SIZE" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M1"
 label="<__trans phrase='_MCXMessage1'>">
    <input type="text" name="M1" id="M1" value="<mt:var name="M1" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M1COLOR"
 label="<__trans phrase='_MCXMessage1FontColor'>">
    <input type="text" name="M1COLOR" id="M1COLOR" value="<mt:var name="M1COLOR" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M1XPOS"
 label="<__trans phrase='_MCXMessage1StartXCoordinate'>">
    <input type="text" name="M1XPOS" id="M1XPOS" value="<mt:var name="M1XPOS" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M1YPOS"
 label="<__trans phrase='_MCXMessage1StartYCoordinate'>">
    <input type="text" name="M1YPOS" id="M1YPOS" value="<mt:var name="M1YPOS" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M2A"
 label="<__trans phrase='_MCXMessage2A'>">
    <input type="text" name="M2A" id="M2A" value="<mt:var name="M2A" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M2ACOLOR"
 label="<__trans phrase='_MCXMessage2AFontColor'>">
    <input type="text" name="M2ACOLOR" id="M2ACOLOR" value="<mt:var name="M2ACOLOR" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M2B"
 label="<__trans phrase='_MCXMessage2B'>">
    <input type="text" name="M2B" id="M2B" value="<mt:var name="M2B" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M2BCOLOR"
 label="<__trans phrase='_MCXMessage2BFontColor'>">
    <input type="text" name="M2BCOLOR" id="M2BCOLOR" value="<mt:var name="M2BCOLOR" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M2XPOS"
 label="<__trans phrase='_MCXMessage2A2BStartXCoordinate'>">
    <input type="text" name="M2XPOS" id="M2XPOS" value="<mt:var name="M2XPOS" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M2YPOS"
 label="<__trans phrase='_MCXMessage2A2BStartYCoordinate'>">
    <input type="text" name="M2YPOS" id="M2YPOS" value="<mt:var name="M2YPOS" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M3"
 label="<__trans phrase='_MCXMessage3'>">
    <input type="text" name="M3" id="M3" value="<mt:var name="M3" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M3COLOR"
 label="<__trans phrase='_MCXMessage3FontColor'>">
    <input type="text" name="M3COLOR" id="M3COLOR" value="<mt:var name="M3COLOR" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M3XPOS"
 label="<__trans phrase='_MCXMessage3StartXCoordinate'>">
    <input type="text" name="M3XPOS" id="M3XPOS" value="<mt:var name="M3XPOS" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="M3YPOS"
 label="<__trans phrase='_MCXMessage3StartYCoordinate'>">
    <input type="text" name="M3YPOS" id="M3YPOS" value="<mt:var name="M3YPOS" escape="html">"  size="20" />
</mtapp:setting>
<mtapp:setting
 id="AnalysisProgram"
 label="<__trans phrase='_MCXAnalysisProgram'>">
    <input type="text" name="AnalysisProgram" id="AnalysisProgram" value="<mt:var name="AnalysisProgram" escape="html">"  size="30" />
</mtapp:setting>
<mtapp:setting
 id="DoAnalysis"
 label="<__trans phrase='_MCXDoAnalysis'>">
    <input type="checkbox" name="DoAnalysis" id="DoAnalysis" value="do" <mt:if name="DoAnalysis"> checked="checked"</mt:if> size="20"/>
</mtapp:setting>
